body 
{
    background-color: rgba(196, 124, 41, 0.212);
}

.c 
{
    color: rgb(122, 30, 30);
}

.o 
{
    color: rgb(143, 129, 129);
}

.l 
{
    color: rgb(196, 196, 31);
}

.t 
{
    color: rgb(173, 131, 106);
}